:root {
  --cell-number: 3;
  /* --pixel-height: 168.67px;
  --pixel-width: 194.67px; */
  --pixel-height: 126.5px;
  --pixel-width: 146px;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    312deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(77, 250, 128, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex-direction: column;
}
.task-container {
  box-sizing: border-box;
  background-color: rgba(240, 255, 240, 0.767);
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.733);
  border-bottom: none;
  text-indent: 30px;
  display: grid;
  grid-template-columns: auto 150px;
}

.outer-container {
  width: min-content;
}

.container {
  display: flex;
  align-items: center;
  background-color: rgba(240, 255, 240, 0.767);
  padding: 0 30px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 15px;
}

.pieces-container {
  display: grid;
  grid-template-columns: repeat(3, var(--pixel-width));
  grid-template-rows: repeat(3, var(--pixel-height));
  grid-gap: 10px;
  padding: 10px;
  border: 1px solid black;
  margin: 20px 50px 20px 0;
}

.puzzle-piece {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, calc(var(--pixel-width) / 2));
  grid-template-rows: repeat(6, calc(var(--pixel-height) / 2));
  column-gap: calc(var(--pixel-width) / 4);

  background-image: url("./pics/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 calc(var(--pixel-width) / 4);
}

.div1 {
  grid-area: 1 / 2 / 3 / 3;
}
.div2 {
  grid-area: 2 / 1 / 4 / 2;
}
.div3 {
  grid-area: 2 / 3 / 4 / 4;
}
.div4 {
  grid-area: 3 / 2 / 5 / 3;
}
.div5 {
  grid-area: 4 / 1 / 6 / 2;
}
.div6 {
  grid-area: 4 / 3 / 6 / 4;
}
.div7 {
  grid-area: 5 / 2 / 7 / 3;
}

.target-cell {
  width: var(--pixel-size);
  height: var(--pixel-size);
  position: relative;
}

.hexagon {
  position: absolute;
  top: 0;
  left: calc(var(--pixel-width) / -4);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--pixel-width) / 1);
  height: var(--pixel-height);
}
.dragging {
  cursor: move;
  z-index: 10;
}

.hidden {
  display: none;
}

.winner .pieces-container {
  display: none;
}
.winner .message {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.733);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
  padding: 15px;
}
.text {
  color: white;
  font-size: 4rem;
  text-align: center;
}

.start-form {
  display: flex;
  flex-direction: column;
}
.start-form > label {
  color: black;
  font-size: 3rem;
  text-align: center;
}

.start-form > input {
  margin: 2rem 0;
  border: 2px solid black;
  font-size: 2rem;
  padding: 10px;
}

.btn {
  background-color: rgba(77, 250, 128, 1);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
}
.btn:hover {
  outline: none;
  cursor: pointer;
  background-color: rgba(34, 193, 195, 1);
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.733);
}

@media (max-width: 960px) {
  :root {
    --pixel-height: 101.2px;
    --pixel-width: 116.8px;
  }
  .pieces-container {
    margin: 10px;
  }
  .container {
    padding: 5px;
  }
  .winner .message > h1 {
    font-size: 3rem;
  }
}

@media (max-width: 730px) {
  :root {
    --pixel-height: 84.33px;
    --pixel-width: 97.34px;
  }
  .pieces-container {
    padding: 3px;
    grid-gap: 5px;
  }

  .task-container {
    font-size: 1.1rem;
    padding: 7px;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .pieces-container {
    margin: 5px 3px;
    grid-gap: 5px;
  }
}
